In [1]:
## Import Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
# Read Data
df = pd.read_csv("/home/kiwilytics/Desktop/kiwilytics_orders.csv")

In [3]:
# Show Data
print(f"{df.head(12)}\n")

    order_id customer_name     product  quantity  unit_price  order_date
0          1         Maria  Kiwi Chips         2         3.0  2024-01-29
1          2       Richard  Kiwi Chips         1         3.0  2024-01-08
2          3      Nicholas  Kiwi Candy         1         2.5  2024-01-25
3          4       Raymond  Kiwi Candy         4         NaN  2024-01-04
4          5         David  Kiwi Juice         1         4.5  2024-02-25
5          6          Eric  Kiwi Juice         2         4.5  2024-03-20
6          7        Ronnie  Kiwi Chips         5         3.0  2024-01-05
7          8         Jesse  Kiwi Candy         1         2.5  2024-03-22
8          9        Thomas  Kiwi Candy         2         2.5  2024-02-14
9         10         Craig  Kiwi Candy         4         2.5  2024-03-17
10        11          John  Kiwi Chips         4         3.0  2024-01-22
11        12          Ryan  Kiwi Candy         3         2.5  2024-01-29

In [4]:
# Check Miss Value in Data
print(f"{df.info()}\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  100 non-null    object
 2   product        100 non-null    object
 3   quantity       100 non-null    int64
 4   unit_price     92 non-null     float64
 5   order_date     100 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB
None

In [5]:
# Correcting Errors In Data
avrg_price = df.groupby('product')['unit_price'].mean()
df['unit_price'] = df['unit_price'].fillna(df['product'].map(avrg_price))
df['total_price'] = df['unit_price'] * df['quantity']

In [6]:
# Calculate total revenue across all orders
total = df['total_price'].sum()
print(f"Total Price = {total}\n")

Total Price = 1167.5

In [9]:
# Total Quantity for each Prouduct
total_quantity = df.groupby('product')['quantity'].sum().sort_values(ascending=False)
print(f"Total Quantity \n{total_quantity}\n")

Total Quantity
product
Kiwi Chips       73
Kiwi Candy       70
Kiwi Juice       61
Kiwi Smoothie    46
Kiwi Jam         41
Name: quantity, dtype: int64

In [10]:
# Which customer has the highest total spending across all orders
total_spending = df.groupby('customer_name')['quantity'].sum().sort_values(ascending=False).head(10)
print(f"Total Spending \n{total_spending}\n")

Total Spending
customer_name
Eric       21
Ashley     15
James      12
Ryan        9
Rebecca     7
Bonnie      7
Laura       6
Thomas      6
Erin        6
Donna       5
Name: quantity, dtype: int64